{{>header}}

<div class="container">
    <div class="row">
         <div class="panel-body text-left">
            <hr>
            <strong>First Name:</strong> <p>{{ provider.firstName }}</p>
            <strong>Last Name:</strong> <p>{{ provider.lastName }}</p>
            <strong>Employer:</strong> <p>{{ provider.employer }}</p>
            <strong>Email:</strong> <p>{{ provider.email }}</p>
        </div>
    </div>
</div>
