{{>header}}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <form action="/provider/register" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">First Name</label>
                    <input type="text" class="form-control" name="first" id="exampleInputPassword1" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Last Name</label>
                    <input type="text" class="form-control" name="last" id="exampleInputPassword1" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Employer Name</label>
                    <input type="text" class="form-control" name="employer" id="exampleInputPassword1" placeholder="Employer Name">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>